body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    color: #00000;
}

/*typography*/

h1 {
	font-size: 38px;
}

h2 {
	font-size: 24px;
	font-weight: 100;
    line-height: 36px;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing:1px;
	font-weight: 100;
	padding-top: 24px;
}

h4 {
	font-size: 20px;
	font-weight: 100;
	line-height:32px;
}

h5 {
	font-family: 'Droid Serif', serif;
	margin: 5px;
    font-size: 16px;
    font-weight: 100;
    color: #787878;
    padding: 11px 25px 15px 25px;
    background-color: rgba(230, 223, 200, 0.18);
    display: inline-block;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
    line-height: 26px;
}

ul {
    line-height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
	list-style-type: disc;

}

a{
	color: #8C8C8C;;
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    border-bottom: 1px solid #e6e6e6;
    background: none;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

a:hover {
    color: #000000;
    cursor:pointer; 
}

/*a:visited {
    color: #000000;
}*/

.pullquote-left {
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    line-height: 30px;
    margin: 4.5em 28px;
    border-left: 6px solid rgba(230, 223, 200, 0.51);
    padding-left: 26px;
}

.pullquote-right {
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	max-width:800px;
	text-align: right;
	line-height: 36px;
	float:right;

}

.pullquote-center {
	margin: 0 auto;
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	max-width:800px;
	text-align: center;
	line-height: 36px;

}
/*
.rule {
	margin: 50px -100px 50px -100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}*/

/*.separator {
	margin: 50px -100px 50px -100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}*/


/*highlight styles*/

::selection {
	color:#000000;
  	background: rgba(230, 223, 200, 0.42); /* WebKit/Blink Browsers */
}

::-moz-selection {
	color:#000000;
  	background: rgba(230, 223, 200, 0.42); /* Gecko Browsers */
}

/*sections*/
/*.container {
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
    padding: 100px;
}*/

/*.intro-content {
	text-align:center;
}*/

/*images*/


/*.image-center {
	margin:0 auto;
	width:100%;
    text-align: center;
}
*/
/*.image {
	width:54%;
	float:right;
	margin: 0px 0px 50px 50px;

	
}*/

/*.image img {
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 0.16);
    border: 1px solid #f5f5f5;
    width: 100%;
}*/




/*.copy {
	float:left;
	width: 35%;
}*/

/*resume*/

.resume {
    width: 70%;
    margin: 80px 0 0 220px;
}


/*new structure styles*/

/*do not put any styles on an .img style*/

.header-nav {
    padding: 18px 0 0 0;
    width: 100%;
    height: 50px;
    background-color: rgba(230, 223, 200, 0.5);
    text-align: center;

}

.header-nav a {
    border-bottom: none;
}

.container {  
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;

}

.overview {
    text-align:center;

}

.line {
    margin: 50px -100px 0 -100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.row {
    margin: 0;
    padding-top: 50px;
    width: 100%;
    height:100%;
    display: block;
    clear: both;

}

.column{
    float:left;
    width:50%;
}

.image img {
    display: block;
    width: 100%;
}

.image {
    margin: 0;
    padding:0;
    float:right;
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 0.16);
    border: 1px solid #f5f5f5;
    position: relative;
    z-index: 0;
    width: 460px;
    height: auto; 
}

.image-center {
    margin:0 auto;
    width:100%;
    text-align: center;

}

.image:before {
    position: absolute;
    z-index: 1;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 200ms;   
    content: "";
    cursor: pointer;
}

.image:hover:before {
    background-color: rgba(0, 0, 0, 0.1);
}

a.image-link {
    border-bottom:0;
    padding:0;

}

.copy {
    margin: 0;
    padding: 0;
    float: left;
    width:34%;
}

.center {
    margin: 0 auto;
    padding-top: 30px;
    width: 50%;
    text-align: right;
    float: right;
}

.footer {
    margin: 350px 0 0 0;
    padding: 50px 0 50px 0;
    width: 100%;
    height: auto;
    background-color: rgba(230, 223, 200, 0.18);
    clear: both;
    text-align: center;
    border-top: 6px solid rgba(230, 223, 200, 0.51);

}

.homepage-footer {
    margin: 30px 0 0 0;
    padding: 50px 0 50px 0;
    width: 100%;
    height: auto;
    background-color: rgba(230, 223, 200, 0.18);
    clear: both;
    text-align: center;
    border-top: 6px solid rgba(230, 223, 200, 0.51);

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }













