body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #00000;
}

/*typography*/

h1{
	font-size: 46px;
	font-weight: 100;
}

h2{
	font-size: 36px;
	font-weight: 100;
}

h3{
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing:1px;
	font-weight: 100;
}

h4{
	font-size: 22px;
	font-weight: 100;
}

p{
	font-size:18px;
	line-height: 28px;
}

ul {
    line-height: 34px;
}

li{
	list-style-type: disc;

}

a{
	color: #8C8C8C;;
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    border-bottom: 1px solid #e6e6e6;
    background: none;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

a:hover {
    color: black;
}

/*sections*/
#content {
    margin: 0 auto;
    width: auto;
    height: 100%;
    padding: 100px;
}

#intro-content{
	text-align:center;
}