body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #00000;
}

/*typography*/

h1{
	font-size: 38px;
}

h2{
	font-size: 24px;
	font-weight: 100;
}

h3{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing:1px;
	font-weight: 100;
	padding-top: 24px;
}

h4{
	font-size: 20px;
	font-weight: 100;
	line-height:32px;
}

h5{
	font-family: 'Droid Serif', serif;
	margin: 5px;
    font-size: 16px;
    font-weight: 100;
    color: #787878;
    padding: 11px 25px 15px 25px;
    background-color: rgba(230, 223, 200, 0.18);
    display: inline-block;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    line-height: 26px;
}

ul {
    line-height: 30px;
}

li{
	list-style-type: disc;

}

a{
	color: #8C8C8C;;
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    border-bottom: 1px solid #e6e6e6;
    background: none;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

a:hover {
    color: black;
}

.pullquote-left{
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    line-height: 35px;
    margin: 2.5em 22px;
    border-left: 6px solid rgba(230, 223, 200, 0.51);
    padding-left: 26px;
}

.pullquote-right{
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	max-width:800px;
	text-align: right;
	line-height: 36px;
	float:right;

}

.pullquote-center{
	margin: 0 auto;
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	max-width:800px;
	text-align: center;
	line-height: 36px;

}

.rule {
	margin: 50px -100px 50px -100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.separator {
	margin: 50px -100px 50px -100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


/*highlight styles*/

::selection {
	color:#000000;
  	background: rgba(230, 223, 200, 0.42); /* WebKit/Blink Browsers */
}

::-moz-selection {
	color:#000000;
  	background: rgba(230, 223, 200, 0.42); /* Gecko Browsers */
}

/*sections*/
.container {
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
    padding: 100px;
}

.intro-content{
	text-align:center;
}

#project-content{

}

/*img styles*/
/*img.left {
    width: 65%;
    float: left;
    margin: 0 50px 50px 0;
    box-shadow: 5px 5px 5px #EBEBEB;
}*/

section.resume{
    margin:0 auto;
    width: 80%;
}

section.image-center{
	margin:0 auto;
	width:100%;
    text-align: center;
}

section.image{
	width:54%;
	float:right;
	margin: 0px 0px 50px 50px;
	
}

section.image img {
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 0.16);
    border: 1px solid #f5f5f5;
}

section.image a{
	background: none;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    bottom-border:none;

}

section.copy{
	float:left;
	width: 35%;
}